<!-- about.html -->

{{define "title"}}About{{end}}
{{define "content"}}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 👨‍💻</h1>
    <br>
</section>
<section class="about-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="380px">
        <figcaption>Big Mike. 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Garland_Welcome.jpg" alt="Garland Welcome" width="380px">
        <figcaption>Garland Welcome Sign. 👋</figcaption>
    </figure>
</section>

{{end}}

