<!-- about.html -->

{{define "title"}}About{{end}}
{{define "content"}}

<section class="center">
    <h1 class="headline-h1">About Big Mike! 🧔</h1>
    <br><br>
</section>
<section class="grid-container">
    <figure>
        <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="400px">
        <figcaption>Big Mike. 😎</figcaption>
    </figure>
    <figure>
        <img src="../static/images/Utah_Welcome.jpg" alt="Utah Welcom" width="400px">
        <figcaption>Utah Welcome. 🚂</figcaption>
    </figure>
</section>

{{end}}

