<!-- about.html -->

{{define "title"}}About{{end}}
{{define "content"}}

<section class="content">
    <section class="center">
        <h1 class="about-h1">About Big Mike! 🤓</h1>
        <br>
    </section>
    <section class="grid-container">
        <figure>
            <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="370px">
            <figcaption>Big Mike. 😎</figcaption>
        </figure>
        <figure>
            <img src="../static/images/Millville_Wellcome.jpg" alt="Millville Utah" width="370px">
            <figcaption>Millville, Utah. 🚐</figcaption>
        </figure>
    </section>
</section>

{{end}}

