<!-- about.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>About</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <h1>Go Wiki! 🌐</h1>
        <a href="/">Home 🗣️</a>
        <a href="/add">Add ✍️</a>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1 class="headline-h1">About Big Mike! 🤓</h1>
            <br>
        </section>
        <section class="grid-container">
            <figure>
                <img src="../static/images/Big_Mike.jpg" alt="Big Mike" width="320px">
                <figcaption>Big Mike! 😎</figcaption>
            </figure>
            <figure>
                <img src="../static/images/Woodruff_Utah.jpg" alt="Woodruff, Utah" width="320px">
                <figcaption>Woodruff, Utah. 👨‍🌾</figcaption>
            </figure>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://golang.org/'>Go</a> 🚲</p>
    </footer>
</body>

</html>