<!-- add.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>Add</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <h1>Go Wiki! 🌐</h1>
        <a href="/">Home 🗣️</a>
        <a href="/add">Add ✍️</a>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1>New Post</h1>
            <br>
            <form action="/savefile" method="POST">
                <article class="add-edit">
                    <div><span>Title: (One word only)</span>
                        <input type="text" name="title" required>
                    </div>
                    <div><span>Body: </span>
                        <textarea name="body" rows="3" cols="40" required></textarea>
                    </div>
                </article>
                <br>
                <input class="form-button" type="submit" value="Save">
            </form>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://golang.org/'>Go</a> 🚲</p>
    </footer>
</body>

</html>

