<!-- view.html -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/images/favicon.ico" type="image/png" rel="shortcut icon">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <title>View</title>
</head>

<body>
    <header>
    </header>
    <nav>
        <h1>Go Wiki! 🌐</h1>
        <a href="/">Home 🗣️</a>
        <a href="/add">Add ✍️</a>
        <a href="/about">About 🛈</a>
    </nav>
    <main>
        <section class="center">
            <h1>{{.Title}}</h1>
            <br>
            <article class="view">
                <div>{{printf "%s" .Body}}</div>
            </article>
            <br><br>
            <p>
                <a class="form-button" href="/">⬅️ Back</a>
            </p>
        </section>
    </main>
    <footer>
        <p>Powered by <a href='https://golang.org/'>Go</a> 🚲</p>
    </footer>
</body>

</html>