
<!-- base.html -->

{{define "base"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/css/style.css" type="text/css" rel="stylesheet">
    <link href="../static/favicon.ico" type="image/x-icon" rel="icon">
    <title>{{template "title" .}}</title>
</head>

<body>
      <header>
        <a href="/">Home 🏠</a>
        <h1>Go - Todos! 📋</h1>
        <a href="/about">About 🛈</a>
    </header>
    <main>
        {{template "content" .}}
    </main>
</body>

</html>

{{end}}
