<!-- index.html -->

{{define "title"}}Home{{end}}

{{define "content"}}

<section class="container">
    <h1>List of Books 📚</h1>
    <br><br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Isbn}}</td>
                <td><a href='/view?id={{ .Id }}'>{{.Title}}</a></td>
                <td>{{.Author}}</td>
                <td>{{.Price}}</td>
                <td>{{.Created.Format "Monday, Jan 2, 2006"}}</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</section>

{{end}}

