<!-- view.html -->

{{define "title"}}View{{end}}
{{define "content"}}

<section class="container">
    <h1>Display One Book 📖</h1>
    <br>
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Isbn</th>
                <th>Title</th>
                <th>Author</th>
                <th>Price</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Isbn}}</td>
                <td>{{.Title}}</td>
                <td>{{.Author}}</td>
                <td>{{.Price}}</td>
                <td>{{.Created.Format "Monday, Jan 2, 2006"}}</td>
            </tr>
        </tbody>
    </table>
    <div class="excerpt">
        <p>"{{.Excerpt}}"</p>
        <br>
        <a class="button" href="/edit?id={{.Id}}">Edit</a>
        <a class="button" href="/delete?id={{.Id}}">Delete</a>
    </div>
</section>

{{end}}

