<!-- about.html -->

{{define "title"}}About{{end}}
{{define "content"}}

<section class="container">
    <h2>About Greenlight</h2>
    <p>This is my version of the Greenlight web app that is made in the ebook Let's Go
        Further! by Alex Edwards. In this case, I really didn't get very far into the
        book before I decided to do the app in my own simple, unique style. It doesn't
        follow along with the book, but I think that it looks great!
    </p>
    <br>
    <p>I enjoy making web apps with Go, MySQL, HTML, CSS and JavaScript. I also enjoy
        making web apps with Python and the Flask framework, SQLite and SQLAlchemy,
        HTML, CSS and JavaScript.
    </p>
</section>

{{end}}

