<!-- base.html -->

{{define "base"}}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" type="text/css" rel="stylesheet">
    <link href="/static/favicon.ico" type="image/png" rel="icon">
    <title>Greenlight - {{template "title" .}}</title>
</head>

<body>
    {{template "nav" .}}
    <main>
        {{template "content" .}}
    </main>
    <footer>
        <p>Powered by <a href="https://go.dev/" target="_blank">Go</a> in {{currentYear}}</p>
    </footer>
</body>

</html>

{{end}}