<!-- edit.html -->

{{define "title"}}Edit{{end}}
{{define "content"}}

<section class="container">
    <h1 class="headline-h1">Edit Movie 🎬</h1>
    <br>
    <form method="POST">
        <input type="hidden" name="id" value="{{.Id}}">
        <p>
            <label>Title: </label>
            <input type="text" name="title" value="{{.Title}}" required>
        </p>
        <p>
            <label>Year: </label>
            <input type="number" name="year" placeholder="YYYY" min="1900" max="2099" step="1" value="{{.Year}}"
                required>
        </p>
        <p>
            <label>Runtime: </label>
            <input type="number" name="runtime" placeholder="i.e., 120" min="1" step="1" value="{{.Runtime}}" required>
        </p>
        <p>
            <label>Genre: </label>
            <input type="text" name="genre" value="{{.Genre}}" required>
        </p>
        <br>
        <input type="submit" value="Update Movie">
    </form>
</section>

{{end}}

